/* her er hvad der skal bruges til alle sider */
*{
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(../images/baggrund-mobile2.jpg);
    background-repeat: repeat;
}
.text1f, .text2f, .text1a, .text1h, .text1k, .text1om, .text2om, .text3om{
    background-color: #ffffff;
    width: 80%;
    font-size: 80%;
    padding: 5% 5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



/*Navigation with flexbox */

header {
    background-color: white;
    width: 100%;
    padding: 1% 2%;
}

#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}

#logo img {
    width: 10%;
}
#logo2 img {
    width: 10%;
}

#logo,
#main-nav a {
    color: black;
    text-decoration: none;
}

#main-nav {
    display: flex;
    margin-right: .5em;
    list-style: none;
}

#main-nav a {
    display: block;
    margin-left: 1em;
    font-size: 1.4em;
    line-height: 1.4em;
}

#main-nav a:hover {
    color: white;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

/*MEDIA QUERY MOBILE */

@media all and (max-width: 599px) {

    /*HEADER NAV*/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 2em;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }
    
    #logo2{
        display: none;
    }
    #logo2 img{
        display: none;
    }

/* op til top klip 
jeg fandt dette kode på URL: https://www.w3schools.com/code/tryit.asp?filename=FY6FPTT8BD08 */
footer #myBtn {
  display: none;
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 5%;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #5D51FF;
  color: white;
  cursor: pointer;
  padding: 0%;
}

#myBtn:hover {
  background-color: #555;
}

/* det her er css til forside */
.forside, .hvordan, .anbefald, .kob, .om{
  display: grid; 
  grid-row-gap: 0%;
  grid-template-columns: auto;
  margin-left: 20%;
  text-align: center;
}
#forsidebilledet{
    width: 90%;
    float: left;
    z-index: 10;
}
#forsidebilledet2{
    width: 20%;
    margin-left: 50%
}
.forsidebilledet3{
    display: none;
}
#produkt1{
    width: 20%;
    margin: 5% 0%;
}
.produkt2{
    width: 70%;
    margin-right: 10%;
}


h1{
    margin: 8%;
}

/*  jeg prøver lige at fine en pile ned */
i {
  border: solid #5D51FF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
  bottom: 0;
  margin: 0% 0% 0% 0%;
}
.ned {
    margin: 0 0 15% 32%;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
aside {
    display: grid;
    grid-template-columns: auto auto;
}
aside p{
    text-align: left;
    margin: auto;
    color: cornflowerblue;
}
.text2f{
    margin: 0 0 20% 0;
}

    
/*  jeg prøver lige at fine en pile ned */

    

/* ANBEFAL SIDE */
#cover1a{
    width: 80%;
    float: left;
}
form{
    display:grid;
    grid-template-columns: auto;
}
input{
        width: 80%;
    text-align:center;
}

#input2{
        height: 600%;
}



/* HVORDAN SIDE */
#cover1h, #cover2h{
    width: 80%;
    float: left;
}
#cover2h{
    margin: 0 0 30% 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}
.ikon{
        width: 25%;
}
    
    
    
/* KØB SIDE */

#cover1k, #cover2k{
    width: 80%;
    float: left
}
.buttonkob, .buttona{
    height: 20%;
    width: 80%;
    background-color: #5D51FF;
    color: white;
    padding: 2%;
}
.buttona{
    margin: 35% 0 0 0;
    float: left;
    }
button:hover{
    background-color: #847BFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}


#cover1om, #cover2om, #cover3om{
    width: 80%;
    float: left;
}


.text3om{
    margin: 0 0 35% 0;   
}


}
/* op til top klip */








/*MEDIA QUERY MOBILE */

/*MEDIA QUERY TABLET AND ABOVE*/
@media all and (min-width: 600px) {

    /*HEADER NAV*/
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column; /*remove this if you do not want the column layout whit logo above menu for medium size screens*/
    }

    #logo-burger {
        margin: 0;
    }

    #logo {
        margin-top: .3em;
        display: none;
    }
    #logo2{
        display: block;
    }
    #logo2 img{
        width: 30%;
        margin: 0 40%;
    }

    #main-nav {
        justify-content: space-between;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #main-nav a {
        margin: 0 .5em;
    }

    .hidden {
        display: none;
    }

    label {
        display: none;
    }
    /*HEADER*/

.forside, .hvordan, .anbefald, .kob, .om{
  display: grid; 
  grid-row-gap: 0%;
  grid-template-columns: auto;
  margin-left: 20%;
  text-align: center;
}
#forsidebilledet{
    width: 40%;
    height: 10%;
    margin-left: 0%;
    z-index: 10;
}
#forsidebilledet2{
    display: none;
}
.forsidebilledet3{
    display: block;
    width: 20%;
    height: 10%;
    margin: 19% 0 0 20%;
    z-index: 10;
}
.avater{
        display: flex;
        flex-direction: row;
}
#produkt1{
    width: 20%;
    margin: 5% 0%;
}
.produkt2{
    width: 60%;
    margin: 0 0 0 10%;
    float: left;
}


h1{
    margin: 2%;
}

/*  jeg prøver lige at fine en pile ned */

.ned {
    margin: 0 20% 0 0;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
aside {
    display: grid;
    grid-template-columns: auto auto;
}
aside p{
    text-align:left;
    margin: auto;
    color: cornflowerblue;
}
/*  jeg prøver lige at fine en pile ned */


#cover1a{
    width: 80%;
    float: left;
}
.text1a{
        float: left;
}
form{
    display:grid;
    grid-template-columns: auto;
    width: 80%;
}
input{
     text-align:center;
}
#input2{
        height: 600%;
}
#formbox button{
    width: 80%; 
    float: left;
    margin: 19% 0 0 0;
    color: white;
    background-color: #5D51FF;
}
    
#cover1h{
    width: 80%;
    margin: 0 40% 0 0;
}
#cover2h{
    width: 80%;
    margin: 0 40% 0 0;
}
.text1h{
    width: 80%;
}
#cover1k, #cover2k{
    width: 80%;
    margin: 0 0 0 0;
    float: left;
}
.buttona, .buttonkob{
    height: 20%;
    width: 64%;
    background-color: #5D51FF;
    color: white;
    padding: 2%;
    margin: 0 0 0 20%;
}
.buttonkob{
    margin: 0 0 0 0;
    float: left;
    width: 64%;
}
.buttona{
    margin: 35% 0 0 0;
    float: left;
}
button:hover{
    background-color: #847BFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}

.om #cover1om{
    width: 80%;
    float: left
}
.om #cover2om{
    width: 80%;
    float: left;
}
.om #cover3om{
    width: 80%;
    float: left;
}
.om .text1om, .text2om, .text3om{
     width: 80%;
}  
.ikon{
    width: 20%;   
}
    

}

/*MEDIA QUERY LAPTOP AND ABOVE*/

@media all and (min-width: 1024px) {

/*HEADER*/
header {
        flex-direction: row;
        align-items: center;
        height: 10%;
}

#logo2 img{
        width: 10%;
        margin: 0;
}
/*HEADER*/

.forside, .hvordan, .anbefald, .kob, .om{
  display: grid; 
  grid-row-gap: 0%;
  grid-template-columns: auto;
  margin-left: 33%;
  text-align: center;
}
.text1f, .text2f, .text1a, .text1h, .text1k, .text1om, .text2om, .text3om{
    width: 50%;
    padding: 2%
}
h1{
        margin: 1%;
}
#forsidebilledet{
    width: 25%;
    z-index: 10;
    float: left;
}
#forsidebilledet2{
    width: 10%;
    margin-left: 50%
}
.forsidebilledet3{
    display: block;
    width: 25%;
    margin: 0 0 0 0%;
    z-index: 10;
    float: right;
}
.avater{

}
#produkt1{
    width: 20%;
    margin: 5% 0%;
}
.produkt2{
    width: 50%;

    margin: 0 0 0 0;
    float: left;
}
h1{
    margin: 10%;
}

/*  jeg prøver lige at fine en pile ned */
i {
  display: none;
}
.ned {
    margin: 0 0 15% 32%;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
aside {
    display: grid;
    grid-template-columns: auto auto;
}
aside p{
    text-align: left;
    margin: auto;
    color: cornflowerblue;
}
.text2f{
    margin: 0 0 20% 0;
}

    
/*  jeg prøver lige at fine en pile ned */

    

/* ANBEFAL SIDE */
#cover1a{
    width: 50%;
    float: left;
}
form{
    display:grid;
    grid-template-columns: auto;
}
input{
        width: 62.5%;
    text-align: center;
}

#input2{
        height: 600%;
}
    /* margin var brugt her for at få textboksen ned under #cover1a */
.text1a{
        margin: 0 10% 0 0;
    }



/* HVORDAN SIDE */
#cover1h, #cover2h{
    width: 50%;
    float: left;
}
#cover2h{
    margin: 0 0 30% 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}
.ikon{
        width: 25%;
}
    
    
    
/* KØB SIDE */

#cover1k, #cover2k, .buttonkob{
    width: 80%;
    float: left
}
.buttonkob, .buttona{
    height: 20%;
    width: 80%;
    background-color: #5D51FF;
    color: white;
    padding: 2%;
}
.buttona{
    margin: 35% 0 0 0;
    float: left;
    }
button:hover{
    background-color: #847BFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}


.om #cover1om, .om #cover2om, .om #cover3om{
    width: 50%;
    float: left;
}
.om .text1om{
        width: 50%;
    }
.text3om{
    margin: 0 0 15% 0; 
}

footer{
        display: none;
}
    
}